body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h6 {
    color: hotpink;
}

h5 {
        color: coral;
        background-color: yellow;
}

table{
 border: solid blue 4px;
}


table.adj{
    border: solid red 2px;   
    }

table.adj2{
    width: 30%;
    border: solid red 2px;
    border-collapse: collapse;
    }

